.manageSchedule {
  background-color: #f5f6f8;
}

.manageSchedule_main {
  padding-top: 56px;
  padding-bottom: 48px;
  width: 100%;
}

/* DATA SCHEDULE */
.dataSchedule-card {
  width: 100%;
  background-color: white;
  margin-right: 24px;
  margin-bottom: 24px;
  padding: 24px;
  box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.dataSchedule-card h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.dataSchedule-card p {
  font-size: 12px;
  color: #6e7191;
  margin-bottom: 4px;
}

.showtimes-line {
  height: 1px;
  width: 100%;
  background-color: #dedede;
  margin-top: 24px;
  margin-bottom: 16px;
}

.time-list .d-flex button {
  font-size: 12px;
  font-weight: 600;
  color: #4e4b66;
  background-color: white;
  border: none;
  margin-right: 32px;
  margin-bottom: 16px;
}

.price {
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 32px;
}

.price h3 {
  color: #6b6b6b;
  font-size: 16px;
}

.price p {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}

.dataSchedule-btn {
  width: 100%;
}

.dataSchedule-btn-update {
  width: 150px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border: 1px solid #5f2eea;
  color: #5f2eea;
  background-color: white;
  font-size: 14px;
  font-weight: 600;
}

.dataSchedule-btn-delete {
  width: 150px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ed2e7e;
  color: #ed2e7e;
  background-color: white;
  font-size: 14px;
  font-weight: 600;
  margin-left: 18px;
}

@media (max-width: 575.98px) {
  main {
    flex-direction: column;
  }
}
