.manageMovie {
  background-color: #f5f6f8;
}

.manageMovie_main {
  padding-top: 56px;
  padding-bottom: 48px;
  width: 100%;
}

.btn-delete {
  color: #ed2e7e;
  border: 1px solid #ed2e7e;
}

.btn-delete:hover {
  border: none;
  background-color: #ed2e7e;
  color: white;
}

/* FORM MOVIE */
.formMovie {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 56px 40px;
  margin-top: 24px;
  margin-bottom: 59px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.movieImage img {
  width: 250px;
  padding: 36px;
  border: 1px solid #dedede;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.form-grup-1 {
  margin-left: 32px;
  width: 40%;
}

.form-grup-2 {
  margin-left: 48px;
  width: 40%;
}

.formMovie .form-label {
  color: #4e4b66;
  font-size: 16px;
  margin-bottom: 12px;
}

.formMovie .form-control {
  width: 100%;
  border: 1px solid #dedede;
  background-color: #fcfdfe;
  padding: 18px 20px;
  margin-bottom: 24px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.formMovie .form-grup-3 .form-control {
  width: 100%;
}

.formMovie_content-btn {
  justify-content: right;
}

.formMovie_btn {
  color: #5f2eea;
  border: 1px solid #5f2eea;
  font-size: 14px;
  font-weight: 600;
  width: 180px;
  height: 56px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.formMovie_btn-active {
  background-color: #5f2eea;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 600;
  width: 180px;
  height: 56px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 30px rgba(95, 46, 234, 0.3);
  margin-top: 16px;
  margin-left: 24px;
}

/* PAGINATION NEW */
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
  margin-top: 32px;
}
.pagination > .active > a {
  background-color: #5f2eea;
  color: white;
  border: none;
  margin: 0 10px;
  font-size: 18px !important;
  background-color: #5f2eea;
  padding: 8px 16px;
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  box-shadow: 0px 8px 16px #602eea3d;
}
.pagination > li > a {
  background-color: white;
  margin: 0 10px;
  font-size: 18px !important;
  color: #4e4b66;
  padding: 8px 16px;
  border: 1px solid #dedede;
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #4e4b66;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

@media (max-width: 575.98px) {
  main {
    flex-direction: column;
  }
}
