.payment {
  background-color: #f5f6f8;
}

.payment_main {
  padding-top: 56px;
  padding-bottom: 48px;
  width: 100%;
}

.left-content {
  width: 65%;
  margin-right: 24px;
}

.right-content {
  width: 35%;
}

/* PAYMENT INFO */

.payment-info h1 {
  font-size: 24px;
  color: #14142b;
  font-weight: 800;
  margin-bottom: 24px;
}

.payment-card {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 48px;
}

.payment-card-content {
  justify-content: space-between;
}

.payment-card h2 {
  color: #6b6b6b;
  font-size: 20px;
}

.payment-card p {
  color: #000000;
  font-size: 20px;
}

.payment-line {
  background-color: #e6e6e6;
  width: 100%;
  height: 1px;
  margin-bottom: 24px;
}

/* PAYMENT METHOD */
.payment-method {
  width: 100%;
}

.payment-method-logo {
  width: 100%;
  border: 2px solid #dedede;
  padding: 13px 36px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-right: 24px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.or {
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.or a {
  text-decoration: none;
  color: #a0a3bd;
  font-size: 16px;
  font-weight: 600;
  width: 20%;
  text-align: center;
}

.or-line {
  background-color: #dedede;
  height: 1px;
  width: 40%;
}

.how p {
  font-size: 16px;
  color: #6e7191;
  text-align: center;
  margin-top: 24px;
}

.how a {
  font-size: 16px;
  color: #5f2eea;
  font-weight: 700;
  text-decoration: none;
}

.content-btn-payment {
  justify-content: space-between;
}

.btn-payment {
  color: #5f2eea;
  border: 1px solid #5f2eea;
  font-size: 14px;
  font-weight: 600;
  width: 300px;
  height: 56px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.btn-payment-active {
  background-color: #5f2eea;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 600;
  width: 300px;
  height: 56px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 30px rgba(95, 46, 234, 0.3);
  margin-top: 40px;
}

/* PERSONAL INFO */
.personal-info-form .mb-3 .form-label {
  color: #696f79;
  font-size: 16px;
  margin-bottom: 14px;
}

.personal-info-form .mb-3 .form-control {
  border: 1px solid #dedede;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 20px 32px;
  margin-bottom: 32px;
}

.alert {
  padding: 18px 32px;
}

.alert-content {
  display: flex;
  align-items: center;
}

.alert-content p {
  margin: 0;
  margin-left: 24px;
  font-size: 16px;
  color: #4e4b66;
}

.web-disable {
  display: none;
}

@media (max-width: 575.98px) {
  main {
    flex-direction: column;
  }
  .payment_main {
    padding-top: 0;
  }
  .left-content {
    width: 100%;
  }
  .right-content {
    width: 100%;
  }
  .disable-mobile {
    display: none !important;
  }
  .btn-payment-active {
    width: 100%;
  }
  .payment-info-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
    background-color: white;
    margin-bottom: 30px;
  }
  .payment-info-mobile h2 {
    color: #aaaaaa;
    font-size: 16px;
  }
  .payment-info-mobile p {
    color: #14142b;
    font-size: 20px;
    margin: 0px;
    font-weight: 600;
  }
  .payment-info h1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 24px;
  }
}
