.signUp_content p {
  margin-bottom: 24px;
}

.signUp_form .form-control {
  margin-bottom: 12px;
}

.signUp_icon-pw {
  position: relative;
  z-index: 1;
  left: 90%;
  top: -58px;
  cursor: pointer;
}

.signUp_password-input {
  max-height: 120px;
}

.signUp_other-input {
  margin-top: 18px;
}
